<form action="/register" method="post">
    <h1>Register</h1>

    <div>
        <label for="name">Name</label>
        <input type="text" name="name" placeholder="Rosa" id="name" required/>
    </div>

    
    <div>
        <label for="name">Email</label>
        <input type="email" name="email" placeholder="test@test.com" id="emasil" required/>
    </div>

    
    <div>
        <label for="name">Password</label>
        <input type="password" name="password" placeholder="*****" id="password" required/>
    </div>

    <button type="submit">Register!</button>
</form>